POSTGRES_DB=orion
POSTGRES_USER=orion
POSTGRES_PASSWORD=orion_dev_pw

NEO4J_USER=neo4j
NEO4J_PASSWORD=orion_dev_pw

REDIS_PASSWORD=orion_dev_pw

MINIO_ROOT_USER=orion
MINIO_ROOT_PASSWORD=orion_dev_pw
